<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/passwordResetForm.css" />
  </head>
  <body>
    <nav>
      <img
        src="/assets/notex_logo.svg"
        alt="logo"
        height="100px"
        width="100px"
      />
    </nav>
    <input type="hidden" id="emailId" name="email" value={{email}} />
    <input type="hidden" id="tokenId" name="token" value={{token}} />
    <div class="card">
      <form id="password-reset-form">
        <h1 style="margin: 0 auto">
          Password
          <span style="color: #fff">reset</span>
        </h1>
        <div>
          <p>Hey <span style="color: #d99bff">{{email}}!</span></p>
          <p>Set your new password</p>
        </div>
        <div>
          <label for="new-password">New Password</label>
          <input type="password" id="new-password" required />
        </div>
        <div style="padding-bottom: 30px">
          <label for="confirm-password">Confirm Password</label>
          <input type="password" id="confirm-password" required />
        </div>
        <button type="submit">Reset Password</button>
      </form>
    </div>
  </body>
  <script src="/js/passwordResetForm.js"></script>
</html>