* {
  font-family: "Inter", sans-serif;
}
body {
  text-align: center;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #0d0c0d, #1f1f1f);
}
h1 {
  color: #7377ff;
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 10px;
}
p {
  color: #fff;
  font-size: medium;
  margin: 0;
}
.card {
  background: #1f1f1f;
  border-radius: 4px;
  box-shadow: 0 2px 3px #1f1f1f4e;
  display: inline-block;
  margin: 0 auto;
  width: min(450px, 100%);
  height: clamp(300px, 700px, 100%);
}
#password-reset-form {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 0 auto;
  gap: 25px;
  padding: 40px 60px;
}
#password-reset-form label {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: medium;
}
#password-reset-form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#password-reset-form button {
  margin: 0 auto;
  padding: 5px 30px;
}
input {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 5px 10px;
  background-color: #fff;
  transition: border 0.3s ease;
  outline: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: #7377ff;
  border: 1px solid #7377ff;
  background-color: #fff;
}
button {
  border-radius: 8px;
  font-weight: 500;
}
@media only screen and (max-width: 500px) {
  .card {
    width: min(300px, 100%);
    height: clamp(300px, 700px, 100%);
  }
  #password-reset-form {
    padding: 20px 30px;
  }
}
