* {
  font-family: "Inter", sans-serif;
}
body {
  text-align: center;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #0d0c0d, #322231);
}
h1 {
  color: #d99bff;
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 10px;
}
p {
  color: #fff;
  font-size: medium;
  margin: 0;
}
.card {
  background: #644162; /* padding: 60px; */
  border-radius: 4px;
  box-shadow: 0 2px 3px #2e1d2d;
  display: inline-block;
  margin: 0 auto;
  width: min(450px, 100%);
  height: clamp(300px, 700px, 100%);
}
#user-account-deletion-form {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 0 auto;
  gap: 25px;
  padding: 40px 60px;
}
#user-account-deletion-form label {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: medium;
}
#user-account-deletion-form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#user-account-deletion-form button {
  margin: 0 auto;
  padding: 5px 30px;
}
input {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 5px 10px;
  background-color: #fff;
  transition: border 0.3s ease;
  outline: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: #d99bff;
  border: 1px solid #d99bff;
  background-color: #fff;
}
button {
  border-radius: 8px;
  font-weight: 500;
}
@media only screen and (max-width: 500px) {
  .card {
    width: min(300px, 100%);
    height: clamp(300px, 700px, 100%);
  }
  #user-account-deletion-form {
    padding: 20px 30px;
  }
}
