<html>
<head>
  <style>
    .card {
      display: in-line-block;
      margin: 0 auto;
      background-color: #2D1E2C;
      padding: 40px;
      width: min(350px, 100%);
      height: clamp(300px,
          700px, 100%);
    }

    .card h3 {
      color: #ffffff;
      font-size: large;
    }

    .card p {
      color: #ffffff;
      font-size: medium;
    }
    .card a{
      color: #D99BFF;
    }
  </style>
</head>
<body>
  <div class="card">
    <img src="https://i.ibb.co/g3rtjfP/logo-1.png" alt="logo" height="50" width="150" style="display: block; margin: 0 auto;padding-bottom:30px" />
    <div> 
      <h3>Hey <span style="color:#D99BFF;">{{name}}!</span></h3>
    <p>Click <a href={{resetLink}}>here</a> to reset your password (valid for only 1 hour).</p>
      <p>If you did not ask for this email, you can ignore it.</p>
      <p>
        If the link doesn't work, you can copy and paste the following URL into
        your browser:
        {{resetLink}}
      </p>
      <p>Happy noting!</p>
    </div>
    <div style="padding-top:20px;">
    <p>From, <br /> Team notex ✏️</p>
  </div>
</body>
</html>