<html>
<head>
  <style>
    .card {
      display: in-line-block;
      margin: 0 auto;
      background-color: #1f1f1f;
      padding: 40px;
      width: clamp(300px,
          700px, 100%);
      height: clamp(300px,
          700px, 100%);
    }

    .card h3 {
      color: #ffffff;
      font-size: large;
    }

    .card p {
      color: #ffffff;
      font-size: medium;
    }
    .card a{
      color: #7377ff;
    }
  </style>
</head>
<body>
  <div class="card">
     <img src="https://i.ibb.co/hBwZRsC/text.png" alt="logo" height="60" width="93" style="display: block; margin: 0 auto;padding-bottom:30px" />
    <center><img src="https://media.giphy.com/media/65NO1TrKrJUT6/giphy.gif" alt="Funny GIF" style="width:100%; max-width:600px; max-height: 450px;"></center>
    <div>
      <h3>Hey <span style="color:#7377ff;">{{name}}!</span></h3>
    <p>Click <a href={{resetLink}}>here</a> to reset your password (valid for only 1 hour).</p>
      <p>If you did not ask for this email, you can ignore it.</p>
      <p>
        If the link doesn't work, you can copy and paste the following URL into
        your browser:
        {{resetLink}}
      </p>
      <p>Happy noting!</p>
    </div>
    <div style="padding-top:20px;">
    <p>From, <br /> Team notex ✏️</p>
  </div>
</body>
</html>